.preloader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
  background: #111319;
  overflow: hidden;
}

.preloader__body {
  min-height: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.preloader__content {
  position: relative;
}

.preloader__word svg {
  width: calc(278px + (993 - 278) * ((100vw - 320px) / (1920 - 320)));
  height: calc(51px + 129 * ((100vw - 320px) / (1920 - 320)));
}

.preloader__word text {
  -webkit-transform: translate(0, calc(42px + 103 * ((100vw - 320px) / (1920 - 320))));
      -ms-transform: translate(0, calc(42px + 103 * ((100vw - 320px) / (1920 - 320))));
          transform: translate(0, calc(42px + 103 * ((100vw - 320px) / (1920 - 320))));
  text-transform: uppercase;
  font-weight: bold;
  fill: #9937E5;
  stroke: #9937E5;
  stroke-width: 2;
  stroke-dasharray: 700;
  stroke-dashoffset: 700;
  fill-opacity: 0;
  font-size: calc(42px + (150 - 42) * ((100vw - 320px) / (1920 - 320)));
  -webkit-animation: draw 5s forwards;
          animation: draw 5s forwards;
}

@-webkit-keyframes draw {
  50% {
    fill-opacity: 0;
  }

  75% {
    fill-opacity: 1;
  }

  100% {
    fill-opacity: 1;
    stroke-dashoffset: 0;
  }
}

@keyframes draw {
  50% {
    fill-opacity: 0;
  }

  75% {
    fill-opacity: 1;
  }

  100% {
    fill-opacity: 1;
    stroke-dashoffset: 0;
  }
}

.preloader__line {
  position: absolute;
  background: #1e1e1e;
  -webkit-transition: 1s var(--i);
  -o-transition: 1s var(--i);
  transition: 1s var(--i);
  z-index: 2;
}

.preloader__line_vertical {
  height: 100vh;
  width: 1px;
}

.preloader__line_horizontal {
  height: 1px;
  width: 100vw;
}

.preloader__line_1 {
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, 50%);
      -ms-transform: translate(0, 50%);
          transform: translate(0, 50%);
}

.preloader__line_2 {
  top: 0;
  left: 50%;
  -webkit-transform: translate(50%, 0);
      -ms-transform: translate(50%, 0);
          transform: translate(50%, 0);
}

.preloader__line_3 {
  right: 0;
  bottom: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.preloader__line_4 {
  bottom: 0;
  right: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.preloader._animate .preloader__line_1 {
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.preloader._animate .preloader__line_2 {
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.preloader._animate .preloader__line_3 {
  -webkit-transform: translate(0, 50%);
      -ms-transform: translate(0, 50%);
          transform: translate(0, 50%);
}

.preloader._animate .preloader__line_4 {
  -webkit-transform: translate(50%, 0);
      -ms-transform: translate(50%, 0);
          transform: translate(50%, 0);
}

.preloader._end {
  z-index: 0;
}

.preloader._end .preloader__word svg text {
  opacity: 0;
  -webkit-transition: 2s .5s;
  -o-transition: 2s .5s;
  transition: 2s .5s;
}

.preloader._end .preloader__line_1 {
  -webkit-transform: translate(0, 50%);
      -ms-transform: translate(0, 50%);
          transform: translate(0, 50%);
}

.preloader._end .preloader__line_2 {
  -webkit-transform: translate(50%, 0);
      -ms-transform: translate(50%, 0);
          transform: translate(50%, 0);
}

.preloader._end .preloader__line_3 {
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.preloader._end .preloader__line_4 {
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.label {
  z-index: 3;
  top: 0;
  right: 20px;
}

.label p {
  -webkit-transform: perspective(100px) rotate3d(1, 0, 0, 90deg) translateY(-25px);
          transform: perspective(100px) rotate3d(1, 0, 0, 90deg) translateY(-25px);
  opacity: 0;
  visibility: hidden;
}

body {
  background: #111319;
}

.header {
  -webkit-backdrop-filter: none !important;
          backdrop-filter: none !important;
}

.header__logo {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.header__btn {
  -webkit-transform: translateY(-50px);
      -ms-transform: translateY(-50px);
          transform: translateY(-50px);
  opacity: 0;
  visibility: hidden;
}

.burger__btn {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
          transform: translateX(20px);
}

.footer {
  background: transparent;
}

.footer__logo {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.footer__socials li {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.footer__bottom {
  padding: 20px 0;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
}

.footer__top {
  border-bottom: 0;
  padding: 0 0 20px 0;
  position: relative;
}

.footer__top:before {
  content: '';
  width: 0;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.3);
}

.wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper._loaded .header__logo {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.wrapper._loaded .header__btn {
  -webkit-transition: 1s 0.15s;
  -o-transition: 1s 0.15s;
  transition: 1s 0.15s;
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}

.wrapper._loaded .burger__btn {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
  -webkit-transition: 1s 0.3s;
  -o-transition: 1s 0.3s;
  transition: 1s 0.3s;
}

.wrapper._loaded .label p {
  opacity: 1;
  visibility: visible;
  -webkit-transform: perspective(100px) rotate3d(1, 0, 0, 0deg) translate(0);
          transform: perspective(100px) rotate3d(1, 0, 0, 0deg) translate(0);
  -webkit-transition: 1s var(--i);
  -o-transition: 1s var(--i);
  transition: 1s var(--i);
}

.wrapper._loaded .navigation__arrow {
  opacity: 1;
  visibility: visible;
  -webkit-transition: 1s 2s;
  -o-transition: 1s 2s;
  transition: 1s 2s;
}

.wrapper._loaded .portfolio {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
  -webkit-transition: 1s 1.5s;
  -o-transition: 1s 1.5s;
  transition: 1s 1.5s;
}

.wrapper._loaded .footer__logo {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 1s 0.75s;
  -o-transition: 1s 0.75s;
  transition: 1s 0.75s;
}

.wrapper._loaded .footer__socials li {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 1s 0.9s;
  -o-transition: 1s 0.9s;
  transition: 1s 0.9s;
}

.wrapper._loaded .footer__bottom {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
  -webkit-transition: 1s 0.6s;
  -o-transition: 1s 0.6s;
  transition: 1s 0.6s;
}

.wrapper._loaded .footer__top:before {
  width: 100%;
  -webkit-transition: 1s 0.45s;
  -o-transition: 1s 0.45s;
  transition: 1s 0.45s;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.footer {
  position: relative;
  z-index: 2;
  padding: 0 120px;
}

.navigation {
  position: absolute;
  top: calc(100px + -50 * ((100vw - 768px) / (1920 - 768)));
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  margin: 0 -17.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
}

.navigation__arrow {
  margin: 0 17.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
}

.navigation__arrow:before,
.navigation__arrow:after {
  content: '';
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.navigation__arrow:after {
  width: 61px;
  height: 2px;
  background: #fff;
  display: block;
}

.navigation__arrow:before {
  width: 9px;
  height: 16px;
  display: block;
  margin: 0 3px;
  background: url("../img/arrow-white.svg") 0 0 no-repeat;
}

.navigation__next {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.portfolio {
  padding: 8% 0 0 0;
  width: 100%;
  margin: 0 0 calc(20px + 30 * ((100vw - 320px) / (1920 - 320))) 0;
  -webkit-transform: translateY(100px);
      -ms-transform: translateY(100px);
          transform: translateY(100px);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.portfolio__slider {
  padding: calc(100px + -70 * ((100vw - 320px) / (1920 - 320))) 0 0 0 !important;
}

.work {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  height: 340px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background: #171a24;
}

.work__label {
  position: absolute;
  right: 0;
  bottom: 100%;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  line-height: calc(22/18);
  -webkit-transform: translate(0, 8px);
      -ms-transform: translate(0, 8px);
          transform: translate(0, 8px);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

@media (min-width: 992px) {
  .navigation__arrow:hover:before {
    -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
            transform: translateX(-10px);
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
  }

  .navigation__arrow:hover:after {
    -webkit-transform: translateX(-5px);
        -ms-transform: translateX(-5px);
            transform: translateX(-5px);
    -webkit-transition: .5s .25s;
    -o-transition: .5s .25s;
    transition: .5s .25s;
  }

  .navigation__arrow:hover:active:after {
    -webkit-transform: translateX(-12px);
        -ms-transform: translateX(-12px);
            transform: translateX(-12px);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
  }

  .work:hover .work__label,
  .work:focus .work__label {
    -webkit-transform: translate(0, -8px);
        -ms-transform: translate(0, -8px);
            transform: translate(0, -8px);
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width: 1280px) {
  .work {
    height: 300px !important;
  }
}

@media (max-width: 992px) {
  .portfolio {
    padding: 12% 0 0 0;
  }

  .work__label {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(0, -8px);
        -ms-transform: translate(0, -8px);
            transform: translate(0, -8px);
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 0;
  }

  .navigation {
    top: 100px;
  }
}

@media (max-width: 525px) {
  .navigation {
    top: 70px;
  }
}