* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Gotham";
  font-size: 14px;
}

body {
  font-family: "Gotham";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

textarea:focus::-webkit-input-placeholder {
  opacity: 0;
}

textarea:focus::-moz-placeholder {
  opacity: 0;
}

textarea:focus:-ms-input-placeholder {
  opacity: 0;
}

textarea:focus::-ms-input-placeholder {
  opacity: 0;
}

textarea:focus::placeholder {
  opacity: 0;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

._container {
  max-width: 1140px;
  width: 100%;
  margin: 0px auto;
  padding: 0px 20px;
}

body {
  background: #121212;
}

body._lock {
  overflow: hidden;
}

.header {
  padding: 30px 0;
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: -webkit-backdrop-filter 1s linear 1.4s;
  transition: -webkit-backdrop-filter 1s linear 1.4s;
  -o-transition: backdrop-filter 1s linear 1.4s;
  transition: backdrop-filter 1s linear 1.4s;
  transition: backdrop-filter 1s linear 1.4s, -webkit-backdrop-filter 1s linear 1.4s;
}

.header:before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  left: auto;
  width: 0;
  height: 1px;
  background: #1e1e1e;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.header._active-burger {
  -webkit-transition: -webkit-backdrop-filter .3s linear 0s;
  transition: -webkit-backdrop-filter .3s linear 0s;
  -o-transition: backdrop-filter .3s linear 0s;
  transition: backdrop-filter .3s linear 0s;
  transition: backdrop-filter .3s linear 0s, -webkit-backdrop-filter .3s linear 0s;
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
}

.header._blur {
  -webkit-transition: -webkit-backdrop-filter 1s linear;
  transition: -webkit-backdrop-filter 1s linear;
  -o-transition: backdrop-filter 1s linear;
  transition: backdrop-filter 1s linear;
  transition: backdrop-filter 1s linear, -webkit-backdrop-filter 1s linear;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.header._blur:before {
  width: 100%;
  left: 0;
  right: auto;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1800px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  position: relative;
  font-weight: 900;
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
}

.header__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__btn {
  font-weight: 500;
  font-size: 15px;
  color: #121212;
  padding: 20px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  cursor: pointer;
  position: relative;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.header__btn i {
  background: #fff;
  position: absolute;
  width: 0;
  height: 0;
}

.header__btn i:nth-child(1) {
  width: 1px;
  height: 100%;
  top: -100px;
  right: 0;
}

.header__btn i:nth-child(2) {
  bottom: 0;
  right: 0;
  height: 1px;
}

.header__btn i:nth-child(3) {
  left: 0;
  width: 1px;
  bottom: 0;
}

.header__btn i:nth-child(4) {
  left: 0;
  top: 0;
  height: 1px;
}

.burger__btn {
  margin: 0 0 0 54px;
  width: 30px;
  height: 30px;
  background: transparent;
  position: relative;
}

.burger__btn:before,
.burger__btn:after {
  content: '';
  width: 18px;
  height: 2px;
  position: absolute;
  left: 6px;
  background: #fff;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.burger__btn:before {
  top: 10px;
}

.burger__btn:after {
  bottom: 10px;
}

.burger__btn._active:before {
  top: 14px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger__btn._active:after {
  bottom: 14px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.burger__container {
  padding: 98px 20px 20px;
  width: 100%;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100%;
}

.burger__content {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 4;
  overflow: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-scroll-chaining: none;
      overscroll-behavior: contain;
  -webkit-transition: background .5s .2s, opacity 0s .7s, visibility 0s .7s;
  -o-transition: background .5s .2s, opacity 0s .7s, visibility 0s .7s;
  transition: background .5s .2s, opacity 0s .7s, visibility 0s .7s;
}

.burger__content._closed .burger__box {
  -webkit-animation: box-transform-out 1s ease;
          animation: box-transform-out 1s ease;
}

.burger__content._opened {
  opacity: 1;
  visibility: visible;
  background: #121212;
  -webkit-transition: background .5s .2s;
  -o-transition: background .5s .2s;
  transition: background .5s .2s;
}

.burger__content._opened .burger__box {
  -webkit-animation: box-transform-in 1s ease;
          animation: box-transform-in 1s ease;
  opacity: 1;
  visibility: visible;
}

.burger__content._opened .burger__wrapper i:nth-child(1) {
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.burger__content._opened .burger__wrapper i:nth-child(2) {
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.burger__content._opened .burger__wrapper i:nth-child(3) {
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
}

.burger__content._opened .burger__wrapper i:nth-child(4) {
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
}

.burger__wrapper {
  position: relative;
}

.burger__wrapper > i {
  z-index: 6;
  position: absolute;
  background: #1e1e1e;
}

.burger__wrapper > i:nth-child(1),
.burger__wrapper > i:nth-child(3) {
  width: 250vw;
  height: 1px;
}

.burger__wrapper > i:nth-child(2),
.burger__wrapper > i:nth-child(4) {
  width: 1px;
  height: 250vh;
}

.burger__wrapper > i:nth-child(1) {
  top: -1px;
  -webkit-transition: all .7s linear .1s;
  -o-transition: all .7s linear .1s;
  transition: all .7s linear .1s;
  left: 50%;
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
}

.burger__wrapper > i:nth-child(2) {
  right: -1px;
  -webkit-transition: all .7s linear .3s;
  -o-transition: all .7s linear .3s;
  transition: all .7s linear .3s;
  top: 50%;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
}

.burger__wrapper > i:nth-child(3) {
  bottom: -1px;
  -webkit-transition: all .7s linear .5s;
  -o-transition: all .7s linear .5s;
  transition: all .7s linear .5s;
  right: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.burger__wrapper > i:nth-child(4) {
  left: -1px;
  -webkit-transition: all .7s linear .7s;
  -o-transition: all .7s linear .7s;
  transition: all .7s linear .7s;
  bottom: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.burger__box {
  -webkit-transition: all 1s ease, opacity .3s;
  -o-transition: all 1s ease, opacity .3s;
  transition: all 1s ease, opacity .3s;
  -webkit-transform-origin: top center;
      -ms-transform-origin: top center;
          transform-origin: top center;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@-webkit-keyframes box-transform-out {
  from {
    -webkit-transform: perspective(100vw) rotate3d(0, 1, 0, 0deg) scale3d(1, 1, 1) translate(0, 0);
            transform: perspective(100vw) rotate3d(0, 1, 0, 0deg) scale3d(1, 1, 1) translate(0, 0);
  }

  to {
    -webkit-transform: perspective(100vw) rotate3d(0, 1, 0, -65deg) scale3d(1.2, 1, 1) translate(-80%, 0);
            transform: perspective(100vw) rotate3d(0, 1, 0, -65deg) scale3d(1.2, 1, 1) translate(-80%, 0);
  }
}

@keyframes box-transform-out {
  from {
    -webkit-transform: perspective(100vw) rotate3d(0, 1, 0, 0deg) scale3d(1, 1, 1) translate(0, 0);
            transform: perspective(100vw) rotate3d(0, 1, 0, 0deg) scale3d(1, 1, 1) translate(0, 0);
  }

  to {
    -webkit-transform: perspective(100vw) rotate3d(0, 1, 0, -65deg) scale3d(1.2, 1, 1) translate(-80%, 0);
            transform: perspective(100vw) rotate3d(0, 1, 0, -65deg) scale3d(1.2, 1, 1) translate(-80%, 0);
  }
}

@-webkit-keyframes box-transform-in {
  from {
    -webkit-transform: perspective(100vw) rotate3d(0, 1, 0, 65deg) scale3d(1.2, 1, 1) translate(80%, 0);
            transform: perspective(100vw) rotate3d(0, 1, 0, 65deg) scale3d(1.2, 1, 1) translate(80%, 0);
  }

  to {
    -webkit-transform: perspective(100vw) rotate3d(0, 1, 0, 0deg) scale3d(1, 1, 1) translate(0, 0);
            transform: perspective(100vw) rotate3d(0, 1, 0, 0deg) scale3d(1, 1, 1) translate(0, 0);
  }
}

@keyframes box-transform-in {
  from {
    -webkit-transform: perspective(100vw) rotate3d(0, 1, 0, 65deg) scale3d(1.2, 1, 1) translate(80%, 0);
            transform: perspective(100vw) rotate3d(0, 1, 0, 65deg) scale3d(1.2, 1, 1) translate(80%, 0);
  }

  to {
    -webkit-transform: perspective(100vw) rotate3d(0, 1, 0, 0deg) scale3d(1, 1, 1) translate(0, 0);
            transform: perspective(100vw) rotate3d(0, 1, 0, 0deg) scale3d(1, 1, 1) translate(0, 0);
  }
}

.burger__main {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 calc(30px + 20 * ((100vw - 320px) / (1920 - 320))) 0;
  padding: 5px 5px 0 15px;
}

.burger__title {
  font-size: calc(15px + 5 * ((100vw - 320px) / (1920 - 320)));
  font-weight: 500;
  color: #fff;
  margin: 0 0 calc(10px + 10 * ((100vw - 320px) / (1920 - 320))) 0;
}

.burger__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0 calc(30px + 70 * ((100vw - 768px) / (1920 - 768))) 0 0;
}

.burger__menu ul li {
  margin: 0 0 calc(15px + 10 * ((100vw - 320px) / (1920 - 320))) 0;
}

.burger__menu ul li:last-child {
  margin: 0;
}

.burger__menu ul li a {
  position: relative;
  font-weight: 500;
  font-size: calc(20px + 10 * ((100vw - 320px) / (1920 - 320)));
  color: #fff;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  padding: 0 0 0 calc(56px + 50 * ((100vw - 320px) / (1920 - 320)));
}

.burger__menu ul li a:before {
  content: '';
  width: 6px;
  height: 6px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  border-radius: 50%;
  position: absolute;
  background: #fff;
  z-index: 1;
  -webkit-transition: background .2s .5s;
  -o-transition: background .2s .5s;
  transition: background .2s .5s;
}

.burger__menu ul li a:after {
  z-index: 0;
  content: '';
  width: 0px;
  height: 2px;
  background: #18A9FF;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: width .5s 0s;
  -o-transition: width .5s 0s;
  transition: width .5s 0s;
}

.burger__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.burger__contact-link {
  color: #444;
  font-size: calc(20px + 10 * ((100vw - 320px) / (1920 - 320)));
  font-weight: 500;
  margin: 0 0 calc(10px + 10 * ((100vw - 320px) / (1920 - 320))) 0;
  position: relative;
  -webkit-transition: color .3s ease;
  -o-transition: color .3s ease;
  transition: color .3s ease;
}

.burger__contact-link:before {
  content: '';
  width: 6px;
  height: 6px;
  position: absolute;
  left: -40px;
  top: 50%;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(0, -50%) rotate(45deg);
      -ms-transform: translate(0, -50%) rotate(45deg);
          transform: translate(0, -50%) rotate(45deg);
  background: #fff;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.burger__contact-link:last-child {
  margin: 0;
}

.burger__big-word {
  font-size: calc(80px + 145 * ((100vw - 320px) / (1920 - 320)));
  -ms-flex-item-align: center;
      align-self: center;
  font-weight: 900;
  color: #18A9FF;
  position: relative;
}

.burger__big-word span {
  z-index: 0;
  position: absolute;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  background: #121212;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
  /* aboba */
  -webkit-filter: blur(75px);
          filter: blur(75px);
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: #121212;
  -ms-scroll-chaining: none;
      overscroll-behavior: contain;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  padding: 25px 20px;
  -webkit-transition: 1s, opacity .3s;
  -o-transition: 1s, opacity .3s;
  transition: 1s, opacity .3s;
  -webkit-transform-origin: top center;
      -ms-transform-origin: top center;
          transform-origin: top center;
  -webkit-transform: perspective(100vw) rotate3d(1, 0, 0, -90deg) translate(0, 50%);
          transform: perspective(100vw) rotate3d(1, 0, 0, -90deg) translate(0, 50%);
  border: 2px solid #fff;
}

.popup._active {
  border: 0px solid transparent;
  -webkit-transform: perspective(100vw) rotate3d(1, 0, 0, 0deg) translate(0, 0);
          transform: perspective(100vw) rotate3d(1, 0, 0, 0deg) translate(0, 0);
  opacity: 1;
  visibility: visible;
}

.popup__body {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
}

.popup__content {
  max-width: 640px;
  width: 100%;
}

.popup__close {
  width: 14px;
  height: 14px;
  top: calc(20px + 30 * ((100vw - 320px) / (1920 - 320)));
  right: calc(20px + 80 * ((100vw - 320px) / (1920 - 320)));
  position: fixed;
}

.popup__close span {
  width: 18px;
  height: 2px;
  position: absolute;
  top: 6px;
  left: -2px;
  background: #fff;
  border-radius: 10px;
  cursor: pointer;
}

.popup__close span:first-child {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.popup__close span:last-child {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.popup__close:before {
  content: '';
  width: 30px;
  cursor: pointer;
  height: 30px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.popup__title {
  font-weight: bold;
  font-size: calc(25px + 5 * ((100vw - 320px) / (1920 - 320)));
  color: #fff;
  margin: 0 0 25px 0;
}

.popup__cursor {
  position: fixed;
  z-index: 1;
  width: 12px;
  height: 12px;
  top: 20px;
  left: 20px;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  pointer-events: none;
  background: #18A9FF;
  -webkit-animation: popup-cursor-reverse 2s forwards;
          animation: popup-cursor-reverse 2s forwards;
}

.popup__cursor._mobile {
  opacity: 0;
  visibility: hidden;
}

.popup__cursor._close {
  -webkit-transition: width 1s, height 1s, background 1s, border 1s;
  -o-transition: width 1s, height 1s, background 1s, border 1s;
  transition: width 1s, height 1s, background 1s, border 1s;
  width: 50px;
  height: 50px;
  -webkit-animation: none;
          animation: none;
  border-radius: 50%;
  background: transparent;
  border: 2px solid #18A9FF;
}

.popup__cursor._disable {
  opacity: 1;
  visibility: visible;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-animation: popup-cursor 2s forwards 1s;
          animation: popup-cursor 2s forwards 1s;
}

@-webkit-keyframes popup-cursor-reverse {
  0% {
    -webkit-transform: translate(-100%, -100%) rotate(0deg);
            transform: translate(-100%, -100%) rotate(0deg);
    width: 1px;
    height: 1px;
  }

  20% {
    width: 12px;
    height: 12px;
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }

  50% {
    width: 12px;
    height: 12px;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
  }

  100% {
    width: 12px;
    height: 12px;
    -webkit-transform: translate(-50%, -50%) rotate(405deg);
            transform: translate(-50%, -50%) rotate(405deg);
  }
}

@keyframes popup-cursor-reverse {
  0% {
    -webkit-transform: translate(-100%, -100%) rotate(0deg);
            transform: translate(-100%, -100%) rotate(0deg);
    width: 1px;
    height: 1px;
  }

  20% {
    width: 12px;
    height: 12px;
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }

  50% {
    width: 12px;
    height: 12px;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
  }

  100% {
    width: 12px;
    height: 12px;
    -webkit-transform: translate(-50%, -50%) rotate(405deg);
            transform: translate(-50%, -50%) rotate(405deg);
  }
}

@-webkit-keyframes popup-cursor {
  0% {
    width: 12px;
    height: 12px;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
  }

  20% {
    width: 12px;
    height: 12px;
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }

  50%, 100% {
    -webkit-transform: translate(-100%, -100%) rotate(0deg);
            transform: translate(-100%, -100%) rotate(0deg);
    width: 1px;
    height: 1px;
  }
}

@keyframes popup-cursor {
  0% {
    width: 12px;
    height: 12px;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
  }

  20% {
    width: 12px;
    height: 12px;
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }

  50%, 100% {
    -webkit-transform: translate(-100%, -100%) rotate(0deg);
            transform: translate(-100%, -100%) rotate(0deg);
    width: 1px;
    height: 1px;
  }
}

.popup button {
  width: 100%;
  background: #33B3FF;
  padding: calc(15px + 5 * ((100vw - 320px) / (1920 - 320)));
  font-size: calc(14px + 4 * ((100vw - 320px) / (1920 - 320)));
  font-weight: 500;
  color: #fff;
  overflow: hidden;
  position: relative;
}

.popup button p {
  position: relative;
  z-index: 1;
}

.popup button span {
  position: absolute;
  width: 12px;
  height: 12px;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  background: #18A9FF;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  -webkit-animation: 5s rise forwards;
          animation: 5s rise forwards;
}

@-webkit-keyframes rise {
  from {
    width: 12px;
    height: 12px;
    opacity: 1;
  }

  to {
    width: 2000px;
    height: 2000px;
    opacity: 0;
  }
}

@keyframes rise {
  from {
    width: 12px;
    height: 12px;
    opacity: 1;
  }

  to {
    width: 2000px;
    height: 2000px;
    opacity: 0;
  }
}

.popup__input {
  position: relative;
  overflow: hidden;
}

.popup__input span {
  font-weight: bold;
  color: #fff;
  font-size: calc(13px + 7 * ((100vw - 320px) / (1920 - 320)));
  position: absolute;
  left: 0;
  top: calc(15px + 10 * ((100vw - 320px) / (1920 - 320)));
  line-height: calc(26/20);
}

.popup__input input,
.popup__input textarea {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-left: none;
  border-right: none;
  border-top: none;
  text-align: right;
  width: 100%;
  background: transparent;
  padding: calc(15px + 10 * ((100vw - 320px) / (1920 - 320))) 0;
  color: #fff;
  font-weight: bold;
  font-size: calc(13px + 7 * ((100vw - 320px) / (1920 - 320)));
}

.popup__input_ta {
  height: calc(160px + -25 * ((100vw - 320px) / (1920 - 320)));
  margin: 0 0 25px 0;
}

.popup__input_ta textarea {
  overflow: hidden;
  resize: none;
  height: 100%;
}

.popup__input:first-child input,
.popup__input:first-child textarea {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.popup__input:before {
  content: '';
  width: 1px;
  height: 1px;
  position: absolute;
  bottom: 0;
  right: 0;
  background: #18A9FF;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .5s, opacity 0s .5s, visibility 0s .5s;
  -o-transition: .5s, opacity 0s .5s, visibility 0s .5s;
  transition: .5s, opacity 0s .5s, visibility 0s .5s;
}

.popup__input._active:before {
  -webkit-transition: 1s 2s;
  -o-transition: 1s 2s;
  transition: 1s 2s;
  opacity: 1;
  visibility: visible;
}

.popup__input-line {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 1px;
  background: #18A9FF;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.preloader {
  background: #121212;
  z-index: 12;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.preloader * {
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  opacity: 0;
  visibility: hidden;
}

.preloader._active {
  -webkit-transition: .5s 8s;
  -o-transition: .5s 8s;
  transition: .5s 8s;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
}

.preloader._active * {
  opacity: 1;
  visibility: visible;
}

.preloader._active .preloader__rocket {
  -webkit-animation: rocket 2s ease-out forwards;
          animation: rocket 2s ease-out forwards;
}

.preloader._active .preloader__text {
  opacity: 1;
  visibility: visible;
}

.preloader._active .preloader__smoke_1 {
  left: 30%;
  -webkit-transform: translate(-50%, -50%) translateY(100px);
      -ms-transform: translate(-50%, -50%) translateY(100px);
          transform: translate(-50%, -50%) translateY(100px);
  -webkit-animation: smoke 2.5s 3.5s forwards;
          animation: smoke 2.5s 3.5s forwards;
}

.preloader._active .preloader__smoke_2 {
  right: 45%;
  -webkit-transform: translate(50%, -50%) translateY(50px);
      -ms-transform: translate(50%, -50%) translateY(50px);
          transform: translate(50%, -50%) translateY(50px);
  -webkit-animation: smoke 3.5s 2.5s forwards;
          animation: smoke 3.5s 2.5s forwards;
}

.preloader._active .preloader__smoke_3 {
  right: 30%;
  -webkit-transform: translate(50%, -50%) translateY(50px);
      -ms-transform: translate(50%, -50%) translateY(50px);
          transform: translate(50%, -50%) translateY(50px);
  -webkit-animation: smoke 3s 3s forwards;
          animation: smoke 3s 3s forwards;
}

.preloader__rocket {
  z-index: 4;
  position: absolute;
  top: 100%;
}

.preloader__rocket img {
  max-height: 100vh;
}

@-webkit-keyframes rocket {
  0% {
    top: 100%;
  }

  10% {
    -webkit-transform: translate(10px, 23px) rotate(2deg);
            transform: translate(10px, 23px) rotate(2deg);
  }

  50% {
    -webkit-transform: translate(-2px, -12px) rotate(-2deg);
            transform: translate(-2px, -12px) rotate(-2deg);
  }

  90% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg);
  }

  100% {
    top: -120%;
  }
}

@keyframes rocket {
  0% {
    top: 100%;
  }

  10% {
    -webkit-transform: translate(10px, 23px) rotate(2deg);
            transform: translate(10px, 23px) rotate(2deg);
  }

  50% {
    -webkit-transform: translate(-2px, -12px) rotate(-2deg);
            transform: translate(-2px, -12px) rotate(-2deg);
  }

  90% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg);
  }

  100% {
    top: -120%;
  }
}

@-webkit-keyframes smoke {
  0% {
    opacity: 1;
    visibility: visible;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes smoke {
  0% {
    opacity: 1;
    visibility: visible;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.preloader__smoke {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 2s ease-out 1s, opacity 2s ease 1s;
  -o-transition: 2s ease-out 1s, opacity 2s ease 1s;
  transition: 2s ease-out 1s, opacity 2s ease 1s;
}

.preloader__smoke img {
  width: 100%;
}

.preloader__smoke_1 {
  z-index: 1;
  left: 50%;
  width: 750px;
  -webkit-transform: translate(-50%, -80%) translateY(40px);
      -ms-transform: translate(-50%, -80%) translateY(40px);
          transform: translate(-50%, -80%) translateY(40px);
}

.preloader__smoke_2 {
  z-index: 3;
  -webkit-transform: translate(50%, -80%) translateY(50px);
      -ms-transform: translate(50%, -80%) translateY(50px);
          transform: translate(50%, -80%) translateY(50px);
  width: 570px;
  left: auto;
  right: 50%;
}

.preloader__smoke_3 {
  z-index: 2;
  left: auto;
  right: 50%;
  -webkit-transform: translate(50%, -80%);
      -ms-transform: translate(50%, -80%);
          transform: translate(50%, -80%);
  width: 420px;
}

.preloader__text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: calc(13px + 5 * ((100vw - 320px) / (1920 - 320)));
  font-weight: 500;
  color: #fff;
  width: 100%;
  text-align: center;
  -webkit-transition: 1s 6s;
  -o-transition: 1s 6s;
  transition: 1s 6s;
  opacity: 0;
  visibility: hidden;
}

@media (min-width: 992px) {
  .header__btn:hover,
  .header__btn:focus {
    background: #18A9FF;
    color: #fff;
  }

  .header__btn:hover i:nth-child(1),
  .header__btn:focus i:nth-child(1) {
    top: 0;
    -webkit-transition: .5s .1s;
    -o-transition: .5s .1s;
    transition: .5s .1s;
  }

  .header__btn:hover i:nth-child(2),
  .header__btn:focus i:nth-child(2) {
    width: 100%;
    -webkit-transition: width .3s .6s;
    -o-transition: width .3s .6s;
    transition: width .3s .6s;
  }

  .header__btn:hover i:nth-child(3),
  .header__btn:focus i:nth-child(3) {
    height: 100%;
    -webkit-transition: height .3s .9s;
    -o-transition: height .3s .9s;
    transition: height .3s .9s;
  }

  .header__btn:hover i:nth-child(4),
  .header__btn:focus i:nth-child(4) {
    width: 100%;
    -webkit-transition: width .3s 1.2s;
    -o-transition: width .3s 1.2s;
    transition: width .3s 1.2s;
  }

  .burger__btn:hover:after,
  .burger__btn:focus:after {
    bottom: 19px;
  }

  .burger__btn:hover:before,
  .burger__btn:focus:before {
    top: 19px;
  }

  .burger__btn._active:hover:before,
  .burger__btn._active:focus:before {
    top: 14px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .burger__btn._active:hover:after,
  .burger__btn._active:focus:after {
    bottom: 14px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .burger__menu ul li a:hover,
  .burger__menu ul li a:focus {
    color: rgba(255, 255, 255, 0.5);
  }

  .burger__menu ul li a:hover:before,
  .burger__menu ul li a:focus:before {
    background: #18A9FF;
    -webkit-transition: background .2s 0s;
    -o-transition: background .2s 0s;
    transition: background .2s 0s;
  }

  .burger__menu ul li a:hover:after,
  .burger__menu ul li a:focus:after {
    -webkit-transition: width .6s .2s;
    -o-transition: width .6s .2s;
    transition: width .6s .2s;
    width: calc(46px + 50 * ((100vw - 320px) / (1920 - 320)));
  }

  .burger__contact-link:hover,
  .burger__contact-link:focus {
    color: #fff;
    -webkit-transition: color .3s ease .5s;
    -o-transition: color .3s ease .5s;
    transition: color .3s ease .5s;
  }

  .burger__contact-link:hover:before,
  .burger__contact-link:focus:before {
    -webkit-transition: all .3s ease .2s;
    -o-transition: all .3s ease .2s;
    transition: all .3s ease .2s;
    -webkit-transform: translate(0, -50%) rotate(45deg);
        -ms-transform: translate(0, -50%) rotate(45deg);
            transform: translate(0, -50%) rotate(45deg);
    left: -20px;
    opacity: 1;
    visibility: visible;
  }

  .popup__close:hover,
  .popup__close:focus {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transition: 1s cubic-bezier(0.68, -0.6, 0.32, 1.6) 0.8s;
    -o-transition: 1s cubic-bezier(0.68, -0.6, 0.32, 1.6) 0.8s;
    transition: 1s cubic-bezier(0.68, -0.6, 0.32, 1.6) 0.8s;
  }

  .popup__close:hover:before,
  .popup__close:focus:before {
    -webkit-transition: .4s 1.8s;
    -o-transition: .4s 1.8s;
    transition: .4s 1.8s;
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width: 768px) {
  ._container {
    max-width: 1120px;
    padding: 0px 10px;
  }

  .header {
    padding: 20px 0;
  }

  .burger__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px 10px 0 10px;
  }

  .burger__menu {
    margin: 0 0 35px 0;
  }
}

@media (max-width: 525px) {
  .header__btn {
    width: 100%;
    margin: 15px 0 0 0;
  }

  .header__btn i {
    display: none;
  }

  .burger__container {
    padding: 70px 20px 20px;
  }
}